<form id='kform' class='kform'>
  <div id="form">
    <div class="fl w50">
      <label>First Name:</label>
      <input type="text" name="firstName" placeholder="First Name" isRequired />
    </div>
    <div class="fr w50">
      <label>Last Name:</label>
      <input type="text" name="lastName" placeholder="Last Name" isRequired />
    </div>
    <div style="clear:both;"></div>
    <div>
      <label>Address:</label>
      <input type="text" name="shipAddress1" placeholder="Your Address" isRequired/>
    </div>
    <div style="clear:both;"></div>
    <div>
      <label>Zip Code:</label>
      <input type="tel" name="shipPostalCode" placeholder="Zip Code" isRequired maxlength="5" class="zip-change" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
      />
      <span id="zip-validate" style="display: none"><img src="/assets/img/ajax-loader.gif"></span>
    </div>
    <input type='hidden' name='shipCountry' value='US' />

    <div style="clear:both;"></div>
    <div>
      <label>City:</label>
      <input type="text" name="shipCity" id="fields_city" placeholder="Your City" isRequired />
    </div>
    <div style="clear:both;"></div>
    <div style="height: 30px; margin-bottom: 30px;">
      <label>State:</label>
      <select name='shipState' id="fields_state" isRequired>
        <option selected="selected" [value]=''>Select State</option>
        <option *ngFor="let abbr of statesAbbr" [value]="abbr">{{states[abbr]}}</option>
      </select>
    </div>
    <div style="clear:both;"></div>
    <div style="height: 30px; margin-bottom: 30px;">
      <label>Phone:</label>
      <input type="tel" name="phoneNumber" placeholder="Phone" maxlength="10" isRequired oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
      />
    </div>
    <div class="clear"></div>
    <div>
      <label>E-mail</label>
      <input type="email" name="emailAddress" placeholder="Email Address" isRequired/>
    </div>
  </div>
  <app-pay-button></app-pay-button>
</form>