<link rel="stylesheet" href="/assets/css/app.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
<link rel="stylesheet" type="text/css" href="/assets/css/up-style.css">
<link rel="stylesheet" type="text/css" href="/assets/css/global.css">

<link  type='text/css' href='/assets/css/kprofile.css' rel='stylesheet' />
<link  type='text/css' href='/assets/css/kform.css' rel='stylesheet' />
<link  type='text/css' href='/assets/css/kcart.css' rel='stylesheet' />

<div id="wrapper" class="cp-wrapper">
  <div onclick="$('#is-upsell').submit()" style="cursor: pointer;">
    <div id="banner" class="after">
      <img src="/assets/img/{{global.logo}}" alt="logo" class="logo" />
      <img src="/assets/img/banner.jpg" alt="" />
    </div>

    <div class="section2">
      <div id="thank-you">
        <div id="ty-msg">
          <h2>WAIT! YOUR ORDER IS NOT COMPLETE</h2>
          <p>Customers that purchased
            {{global.productName}} Skin also <br>purchased

            {{global.upsell1Name}}
          </p>
        </div>
      </div>
      <p><img style="width:100%;margin:0 0 10px 0; cursor:pointer;" src="/assets/img/upsell1.jpg" onclick="submitUpsell()" /></p>

    </div>

    <div id="purple-area">
      <div id="security-tag" class="after gray">
        <p><img src="/assets/img/lock2.jpg" id="up-lock-two" alt="" /> Secure 256 Bit Encrypted Connection.</p>
      </div>

      <form id="kform">
        <input type="hidden" name="productId" value="{{upsell.productId}}" noSaveFormValue readonly>
        <input type="submit" style="cursor: pointer;" value="COMPLETE CHECKOUT" id="kformSubmit" />

        <input type="hidden" id="kformSubmit">
        <img src="/assets/img/secure2.jpg" alt="" id="security" />
      </form>
    </div>


    <div id="btm">
      <div id="no-thanks">
        <img alt="" src="/assets/img/close2.png">
        <a href="/">No, Thanks. I decline the offer</a>
      </div>
      <footer class="f11 ng-scope">
        <app-footer></app-footer>
      </footer>
    </div>
  </div>