#btm{
  padding-bottom: 0 !important;
  padding-top: 32px !important;
}
footer {
  padding-bottom: 3px !important;
  padding-top: 10px !important;
}
#wrapper { cursor: pointer; }
#no-thanks a {
  color: #727272;
  font-size: 10px;
}