<div id="section-4">
  <img src="assets/img/header-3.jpg" alt="What's All the Buzz About?" class="img-full"/>
  <div class="container">
    <h2><img src="assets/img/sub-header-5.jpg" alt="The New Injection-Free Solution" class="header img-full"/></h2>
    <p>{{global.name}} is your secret to radiant, beautiful skin that looks years younger. Don't endure the physical pain and expense of costly procedures and surgeries. {{global.name}} works naturally to help replenish your skin's moisture, firming its appearance and restoring your natural glow to reveal a younger-looking you.</p>
    <img src="assets/img/eyes.jpg" alt="eyes" class="img-full eyes"/>
    <img src="assets/img/results.jpg" alt="results" class="img-full results"/>
  </div>
</div>