<div id="top">
  <div id="topWrapImg"><img src="/assets/img/logo.png" id="topLogo" /><img src="/assets/img/prod.png" id="topProduct" /></div>
  <div class="container">
    <div class="check-wrapper">
      <img src="/assets/img/check-1.png" alt="" />
      <img src="/assets/img/check-2.png" alt="" />
      <img src="/assets/img/check-3.png" alt="" />
      <img src="/assets/img/exclusive.png" alt="" class="exclusive" />
    </div>
  </div>
  <div class="down-arrow">
    <img src="/assets/img/arrow-3.png" alt="arrow" class="arrow" />
    <img src="/assets/img/arrow-2.png" alt="arrow" class="arrow" />
    <img src="/assets/img/arrow-1.png" alt="arrow" class="arrow" />
  </div>
</div>