<link rel="stylesheet" href="/assets/css/app.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/assets/css/style.css">

<link  type='text/css' href='/assets/css/kprofile.css' rel='stylesheet' />
<link  type='text/css' href='/assets/css/kform.css' rel='stylesheet' />
<link  type='text/css' href='/assets/css/kcart.css' rel='stylesheet' />

<div id="wrapper">
  <app-banner></app-banner>
  <app-science></app-science>
  <app-benefits></app-benefits>
  <app-spotlight></app-spotlight>
  <app-bottom></app-bottom>

  <footer>
    <div id="cta">
      <div id="security-tag" class="after gray">
        <p><img src="/assets/img/lock-gray.jpg" alt="" /> Secure 256 Bit Encrypted Connection.</p>
      </div>
      <input type="submit" id="sub-cp" class="kform_presellLink" onclick="var form=new klander;form.displayProgressBar()" />
      <p id="loading-indicator" style="display:none;">Processing...</p>
      <input type="hidden" name="sub" value="1" />
    </div>
    <app-footer></app-footer>
    <p class="disclaimer" style="padding-bottom:30px; margin-bottom: 85px;">This product has not been evaluated by the FDA. This product is not intended to diagnose, treat, cure or prevent any
      disease. Results in description are illustrative and may not be typical results and individual results may vary. The
      depictions on this page are fictitious and indicative of potential results. Representations regarding the efficacy
      and safety of {{global.name}} have not been scientifically substantiated or evaluated by the Food and Drug Administration.</p>
  </footer>
</div>