<p>
  <a href="javascript:void(0);" onclick="javascript:openNewWindow('/assets/html/terms.html' , 'modal');">Terms |</a>
  <a href="javascript:void(0);" onclick="javascript:openNewWindow('/assets/html/privacy.html' , 'modal');">Privacy Policy |</a>
  <a href="javascript:void(0);" onclick="javascript:openNewWindow('/assets/html/contact.html' , 'modal');">Contact Us </a>
</p>
<p class="copyright">{{date | date:'yyyy'}} &copy; {{global.name}}</p>