<link rel="stylesheet" href="/assets/css/app.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
<link rel="stylesheet" type="text/css" href="/assets/css/cp-1-style.css">
<link rel="stylesheet" type="text/css" href="/assets/css/global.css">

<link  type='text/css' href='/assets/css/kprofile.css' rel='stylesheet' />
<link  type='text/css' href='/assets/css/kform.css' rel='stylesheet' />
<link  type='text/css' href='/assets/css/kcart.css' rel='stylesheet' />

<div id="wrapper" class="cp-wrapper">
  <div id="banner" class="after">
    <img src="assets/img/{{global.logo}}" alt="logo" width="126" class="logo" />
    <img src="/assets/img/banner.jpg" width="320" height="55" alt="" />
  </div>
  <img src="/assets/img/steps-1.jpg" width="320" height="54" alt="" id="steps-2" class="" />
  <div id="approved">
    <div id="approved-content">
      <h1>VERIFY YOUR SHIPPING INFO</h1>
      <p>Please submit shipping details for guaranteed delivery. Your order is almost complete.</p>
    </div>
  </div>
  <app-shipping-form></app-shipping-form>
  <div id="btm">
    <footer class="f11 ng-scope">
      <app-footer></app-footer>
    </footer>
  </div>
</div>