#wrapper {
    overflow-x: hidden
}

#wrapper > div {
    width: 100%;
    margin: 0 auto
}

#section-2 img {
    -webkit-transform: translate3d(0, 0, 0) rotate (0) scale (1)
}

p {
    font-family: 'Open Sans', Arial;
    color: black
}

h1 > span,
h2 > span,
h3 > span {
    text-indent: -9999px;
    position: absolute
}

.after:after {
    content: '';
    display: block;
    clear: both
}

.fl {
    float: left
}

.fr {
    float: right
}

.img-full {
    width: 100%;
    margin: 0 auto;
    display: block
}

.container {
    padding: 0 7%
}

#cta {
    width: 100%;
    padding: 5% 0;
    background: #222222;
    position: fixed;
    bottom: 0%;
    left: 0px;
    z-index: 10;
    transition: bottom 1s
}

#cta a {
    width: 80%;
    background: #00efc5;
    border-radius: 2px;
    display: block;
    margin: 0 auto;
    padding: 5% 0;
    box-shadow: 4px 4px 0px -1px #888888;
    -webkit-box-shadow: 4px 4px 0px -1px #888888;
    -moz-box-shadow: 4px 4px 0px -1px #888888;
    -ms-box-shadow: 4px 4px 0px -1px #888888
}

#cta a:hover:active {
    background: #32c9af
}

#cta a img {
    width: 80%;
    margin: 0 auto;
    display: block
}

#cta .security {
    width: 50%;
    margin-top: -15px
}

img {
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden
}

#top .check-wrapper {
    padding: 5% 0;
    vertical-align: top
}

#top .badge-wrapper {
    padding-top: 4%
}

#top .badge-wrapper {
    width: 16%;
    display: inline-block
}

#top .badge-wrapper img {
    width: 100%;
    margin-bottom: 5%
}

#top .badge-wrapper .badge-icon {
    position: relative;
    top: 15px
}

#top .check-wrapper {
    width: 85%;
    display: inline-block;
    margin-left: 7%
}

#top .check-wrapper .check {
    margin-bottom: 5%
}

#top .check-wrapper .check:first-child {
    transition-delay: .5s;
    -webkit-transition-delay: .5s
}

#top .check-wrapper .check:nth-child(2) {
    transition-delay: .6s;
    -webkit-transition-delay: .6s
}

#top .check-wrapper .check:nth-child(3) {
    transition-delay: .7s;
    -webkit-transition-delay: .7s
}

#top .check-wrapper .check:nth-child(4) {
    transition-delay: .8s;
    -webkit-transition-delay: .8s
}

#top .check-wrapper .exclusive {
    transition-delay: .9s;
    -webkit-transition-delay: .9s
}

#top .check-wrapper img {
    width: 100%
}

.down-arrow {
    padding-top: 3%;
    padding-bottom: 5%
}

.down-arrow .arrow {
    display: block;
    margin: 0 auto
}

.down-arrow .arrow:first-child {
    width: 12%;
    opacity: 1;
    -webkit-animation: flashyArrow 1.5s infinite;
    -webkit-animation-delay: 0.5s
}

.down-arrow .arrow:nth-child(2) {
    width: 15%;
    margin-top: -2%;
    opacity: 1;
    -webkit-animation: flashyArrow 1.5s infinite;
    -webkit-animation-delay: 0.6s
}

.down-arrow .arrow:last-child {
    width: 18%;
    margin-top: -2%;
    opacity: 1;
    animation: flashyArrow 1.5s infinite;
    animation-delay: 0.7s;
    -webkit-animation: flashyArrow 1.5s infinite;
    -webkit-animation-delay: 0.7s
}

@keyframes flashyArrow {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes flashyArrow {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#section-2 {
    padding-bottom: 5%
}

#section-2 h1 {
    padding-bottom: 2%
}

#section-2 .step {
    position: relative;
    top: 20px;
    margin-bottom: 3%
}

.animation {
    opacity: 1 !important;
    top: 0 !important
}

#section-2 .step,
#section-2 .step p,
#section-2 .step img {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden
}

#section-2 .step p {
    font-size: 11px;
    position: absolute;
    top: 52%;
    left: 48%;
    transition: top .3s
}

#section-2 .info {
    text-align: center;
    width: 88%;
    margin: 0 auto;
    padding: 10px 0 30px 0
}

#section-2 .header-bargraph {
    padding-bottom: 13px
}

#section-2 .quote {
    padding: 15px 0 15px 0
}

#section-3 .benefit img {
    margin: 0 auto;
    display: block;
    width: 10%
}

#section-3 .benefit h2 {
    margin: 0px;
    padding: 7% 0 3% 0
}

#section-3 .benefit p {
    font-size: 11px;
    text-align: center
}

#section-3 .benefit .eye,
#section-3 .benefit .wrinkle,
#section-3 .benefit .drops,
#section-3 .benefit .shield {
    padding-top: 10%;
    position: relative;
    opacity: 0;
    -webkit-transition: opacity .5s, left .5s, width .5s ease;
    transition: opacity .5s, left .5s, width .5s ease
}

#section-3 .benefit .sub-header {
    position: relative;
    left: 0
}

#section-3 .benefit .eye {
    width: 38%
}

#section-3 .benefit .sub-header {
    width: 95%
}

#section-3 .benefit .wrinkle {
    width: 70%
}

#section-3 .benefit .drops {
    width: 30%
}

#section-3 .benefit .shield {
    width: 30%
}

#section-4 {
    padding-top: 10%;
    padding-bottom: 10%
}

#section-4 .container p {
    font-size: 11px;
    text-align: center
}

#section-4 .container h2 {
    margin: 0;
    padding: 10% 0 5% 0
}

#section-4 .container h2 img {
    width: 80%
}

#section-4 .container .eyes {
    padding: 5% 0
}

#section-4 .container .results {
    width: 80%;
    padding: 2% 0 0 0
}

#btm {
    position: relative;
    background: url(/assets/img/bottom.jpg) top center no-repeat;
    height: 356px;
    background-size: cover;
}

#btm .down-arrow {
    width: 68%;
    position: absolute;
    bottom: 15%;
    left: 50%;
    z-index: 10
}

input[type="submit"] {
    width: 80%;
    height: 76px;
    margin: 0 8% 0 8%;
    background-size: 100%;
    border: none;
    text-indent: -9999px;
    background-position: 0 0;
    border-radius: 0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-image: url(/assets/img/lp-off-btn.png);
    background-size: 100% 100%;
    background-attachment: scroll;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: #222222
}

input[type="submit"]:active {
    background: url(/assets/img/lp-on-btn.png) no-repeat;
    background-size: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.disclaimer {
    text-align: justify
}

#footer {
    padding-top: 20%
}

footer p {
    padding: 5% 5% 0 5%;
    color: #bbb
}

footer a,
footer a:hover,
footer a:hover:active {
    color: #bbb
}

footer {
    background: #000000;
    text-align: center;
    color: #bbbbbb;
    font-size: 11px;
    padding: 0 0 10% 0
}

footer .copyright {
    padding-top: 0%;
    margin-top: -11px
}

footer .certified {
    width: 89%;
    padding-top: 20px
}

#security-tag {
    padding: 0px 0px 10px 0;
    margin: 0 auto;
    color: lightgrey;
    margin-top: -10px
}

#security-tag p {
    display: inline;
    padding: 0px;
    text-align: center;
    font-size: 10px
}

#security-tag img {
    vertical-align: -20%;
    width: 3.7%
}

@media (min-width: 360px),
(min-width: 375) {
    #section-2 .step p,
    #section-3 .benefit p,
    #section-4 .container p {
        font-size: 12px
    }
}

@media (min-width: 384px) {
    #section-2 .step p,
    #section-3 .benefit p,
    #section-4 .container p {
        font-size: 14px
    }
}

@media (min-width: 568px),
(min-width: 640px) {
    #section-2 .step p,
    #section-3 .benefit p,
    #section-4 .container p {
        font-size: 21px
    }
}

@media (min-width: 667px) {
    #section-2 .step p,
    #section-3 .benefit p,
    #section-4 .container p {
        font-size: 23px
    }
}

@media (min-width: 736px) {
    #section-2 .step p,
    #section-3 .benefit p,
    #section-4 .container p {
        font-size: 25px
    }
}

@-webkit-keyframes scaleout {
    0% {
        -webkit-transform: scale(0.0);
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes scaleout {
    0% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

.step.step-1 {
    background: url(/assets/img/bargraph-1.jpg) top center no-repeat;
    width: 100%;
    height: 267px;
    background-size: cover;
}

img#chartLogo01 {
    position: absolute;
    top: 2px;
    left: 65px;
    width: 33%;
}

img#chartLogo021 {
    position: absolute;
    top: 2px;
    left: 216px;
    width: 33%;
}

div#topWrapImg {
    background: url(/assets/img/top.jpg) top center no-repeat;
    height: 301px;
    background-size: cover;
    position: relative;
}

img#topLogo {
    position: absolute;
    top: 80px;
    right: 48px;
    width: 26%;
}

img#topProduct {
    position: absolute;
    top: 111px;
    right: 8px;
    width: 49%;
}

img#btmLogo {
    position: absolute;
    top: 125px;
    left: 17px;
    width: 58%;
}

img#btmProduct {
    position: absolute;
    top: 199px;
    left: 9px;
    width: 70%;
}