<div id="content" style="padding:15px;">
  <div>
    <h1>
      Contact Us
    </h1>
    <p>
      <b>{{global.productName}}</b>
      <br/> {{global.email}}
    </p>
    <p>
      <b>Phone:</b> {{global.phone}}
    </p>
      <br/>
      <h2>Hours</h2>
    <p>
      Monday - Friday: 9:00am - 9:00pm.<br /> 
      Saturday: 9:00am - 6:00pm<br /> 
      Sunday: Closed
    </p>
    <h1>
      Return Address
    </h1>
    <p>
      {{global.returnaddress}}
    </p>
  </div>
</div>