<div id="section-3">
  <img src="/assets/img/header-2.jpg" alt="Benefits of Anti Aging" class="img-full"/>
  <div class="container">
    <div class="benefit">
      <img src="/assets/img/icon-1.jpg" alt="" class="eye" style="left: 0%;opacity: 1;"/>
      <h2><img src="/assets/img/sub-header-1.jpg" alt="" class="sub-header"/></h2>
      <p>Hydrates the under-eye area,<br>removing the look of puffiness.</p>
    </div>
    <div class="benefit">
      <img src="/assets/img/icon-2.jpg" alt="" class="wrinkle small-width" style="left: 0%;opacity: 1;"/>
      <h2><img src="/assets/img/sub-header-2.jpg" alt="" class="sub-header"/></h2>
      <p>Boosts collagen and elastin to help<br/> improve the look of skin.</p>
    </div>
    <div class="benefit">
      <img src="/assets/img/icon-3.jpg" alt="" class="drops small-width" style="left: 0%;opacity: 1;"/>
      <h2><img src="/assets/img/sub-header-3.jpg" alt="" class="sub-header"/></h2>
      <p>Active ingredients facilitate in trapping<br /> moisture, preventing cracking and peeling.</p>
    </div>
    <div class="benefit">
      <img src="/assets/img/icon-4.jpg" alt="" class="shield small-width" style="left: 0%;opacity: 1;"/>
      <h2><img src="/assets/img/sub-header-4.jpg" alt="" class="sub-header"/></h2>
      <p>Boosts skin immunity and prevents<br/>damaging effects of free radicals.</p>
    </div>
  </div>
</div>