<div id="cp-1-purple-bottom">
  <div class="after gray" id="security-tag">
    <p><img alt="" src="/assets/img/lock-gray.jpg"> Secure 256 Bit Encrypted Connection.</p>
  </div>
  <input type="submit" value='COMPLETE CHECKOUT' class='kform_submitBtn' id='kformSubmit'>
  <img id="security" alt="" src="/assets/img/secure.jpg">
</div>