/* CSS Document */


@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.08); }
    100% { -webkit-transform: scale(1); }
}
@keyframes pulse {
    0% { transform: scale(1);}
    50% { transform: scale(1.08);}
    100% { transform: scale(1);}
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);}
} 
 
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}

img {
	max-width:100%;
}

#nothankyou{
	font-family:Helvetica, Arial, Gotham, "Helvetica Neue", sans-serif;
	text-align:center;
}

#nothankyou a{
	font-weight:bold;
	text-align:center;
	color:#1642ff;
}

#nothankyou p{
	text-align:justify;
}

@media screen and (min-width: 320px){
	#container{
		margin:0 auto;
		width:320px;
	}
	#upsell {
		background:url('../images/upsell-320.png') no-repeat;
		width:320px;
		height:480px;
		cursor: pointer;
	}
	#continue {
		background:url('../images/adtocart.png') no-repeat;
		position:relative;
		top:-138px;
		left:77px;
		height:50px;
		width:182px;
		-webkit-animation: pulse 1s infinite;
		-moz-animation: pulse 1s infinite;
		-ms-animation: pulse 1s infinite;
		animation: pulse 1s infinite;
		cursor: pointer;
		z-index:1;
		    background-size: cover;
	}
	#wait {
		background:url('../images/wait-320.png') no-repeat;
		position:relative;
		top:-465px;
		left:-10px;
		height:184px;
		width:354px;
		cursor: pointer;
/*		-webkit-animation: bounce 1s infinite;
		-moz-animation: bounce 1s infinite;
		-ms-animation: bounce 1s infinite;
		animation: bounce 1s infinite;		*/
	}
	#nothankyou {
		font-size:.5em;
		width:320px;
		position:absolute;
		top:490px;
	}
}
@media screen and (min-width: 480px){
	#container{
		margin:0 auto;
		width:480px;
	}
	#upsell {
		background:url('../images/upsell-480.png') no-repeat;
		width:480px;
		height:600px;
		cursor: pointer;
	}    
	#continue {
		background:url('../images/adtocart.png') no-repeat;
		position:relative;
		top:-144px;
		left:160px;
		height:49px;
		width:181px;
		-webkit-animation: pulse 1s infinite;
		-moz-animation: pulse 1s infinite;
		-ms-animation: pulse 1s infinite;
		animation: pulse 1s infinite;
		cursor: pointer;
		z-index:1;
		    background-size: cover;
	}
	#wait {
		background:url('../images/wait-480.png') no-repeat;
		position:relative;
		top:-565px;
		left:8px;
		height:333px;
		width:600px;
		cursor: pointer;
/*		-webkit-animation: bounce 1s infinite;
		-moz-animation: bounce 1s infinite;
		-ms-animation: bounce 1s infinite;
		animation: bounce 1s infinite;		*/
	}
	#nothankyou {
		font-size:.6em;
		width:480px;
		position:absolute;
		top:600px;
	}
}
@media screen and (min-width: 640px){
	#container{
		margin:0 auto;
		width:640px;
	}
	#upsell {
		background:url('../images/upsell-640.png') no-repeat;
		width:640px;
		height:505px;
		cursor: pointer;
	}
	#continue {
		background:url('../images/adtocart.png') no-repeat;
		position:relative;
		top:-216px;
		left:290px;
		height:65px;
		width:243px;
		-webkit-animation: pulse 1s infinite;
		-moz-animation: pulse 1s infinite;
		-ms-animation: pulse 1s infinite;
		animation: pulse 1s infinite;
		cursor: pointer;
		z-index:1;
		    background-size: cover;
	}
	#wait {
		background:url('../images/wait-640.png') no-repeat;
		position:relative;
		top:-575px;
		left:25px;
		height:313px;
		width:613px;
		cursor: pointer;
/*		-webkit-animation: bounce 1s infinite;
		-moz-animation: bounce 1s infinite;
		-ms-animation: bounce 1s infinite;
		animation: bounce 1s infinite;		*/
	}
	#nothankyou {
		font-size:.8em;
		width:640px;
		position:absolute;
		top:450px;
	}
}

@media screen and (min-width: 800px){
	#container{
		margin:0 auto;
		width:790px;
	}
	#upsell {
		background:url('../images/upsell.png') no-repeat;
		width:790px;
		height:623px;
		cursor: pointer;
	}
	#continue {
		background:url('../images/adtocart.png') no-repeat;
		position:relative;
		top: -285px;
		left:390px;
		height:83px;
		width:304px;
		-webkit-animation: pulse 1s infinite;
		-moz-animation: pulse 1s infinite;
		-ms-animation: pulse 1s infinite;
		animation: pulse 1s infinite;
		cursor: pointer;
		z-index:1;
		background-size: cover;
	}
	#wait {
		background:url('../images/wait.png') no-repeat;
		position:relative;
		top:-700px;
		left:30px;
		height:391px;
		width:751px;
		cursor: pointer;
/*		-webkit-animation: bounce 1s infinite;
		-moz-animation: bounce 1s infinite;
		-ms-animation: bounce 1s infinite;
		animation: bounce 1s infinite;		*/
	}
	#nothankyou {
		font-size:.8em;
		width:800px;
		position:absolute;
		top:550px;
	}
}
