<div id="section-2">
  <h1><img src="/assets/img/step-header.jpg" alt="3 Steps to Youthful Skin" class="img-full"/></h1>
  <div class="container">
    <div>
      <p class="info">{{global.productName}} breakthrough formula delivers whole collagen molecules to the skin. The peptide-rich wrinkle serum is applied to the skin, rebuilding and rejuvenating the skin.</p>
    </div>
    <div class="step step-1">
      <img src="/assets/img/logo.png" id="chartLogo01">
        <img src="/assets/img/logo.png" id="chartLogo021">
    </div>
  </div>
</div>