<div id="btm">
  <div id="btmWrapImg"><img src="/assets/img/logo.png" id="btmLogo" /><img src="/assets/img/prod.png" id="btmProduct" /></div>
  <div class="down-arrow">
    <img src="/assets/img/arrow-3.png" alt="arrow" class="arrow"/>
    <img src="/assets/img/arrow-2.png" alt="arrow" class="arrow"/>
    <img src="/assets/img/arrow-1.png" alt="arrow" class="arrow"/>
  </div>
</div>