<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<div id="content" style="padding:15px;">
  <div>
    <h1>
      Contact Us
    </h1>
    <p>
      <b>Parisian Glow Cream</b>
      <br/>

      care@tryparisianglow.com
    </p>
    <p>
      <b>Phone:</b>
      888-436-4265
      <br/>
      <h2>Hours</h2>
      Monday - Friday: 9:00am - 9:00pm.<br /> Saturday: 9:00am - 6:00pm<br /> Sunday: Closed

    </p>
    <h1>
      Return Address
    </h1>
    <p>
      Fulfillment c/o Parisian Glow<br>PO Box 35482<br>St. Petersburg, FL 33705
    </p>
  </div>
</div>