<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />

<div id="content" style="padding:15px;">
    <div>
        <h1>
            Privacy Policy
        </h1>
        <p>
            We respect your privacy and we are committed to protecting your personal information. In general, you can visit Parisian Glow without identifying
            yourself or providing personal information. There are times when we may need personal information from you and this Privacy policy describes the
            information we collect from you and how we may use it.
        </p>
        <p>
            <strong>Information collected</strong>
        </p>
        <p>
            Personal Information means any information that may be used to identify an individual. This includes but is not limited to: first and last name,
            email address, mailing and residential address, telephone number, title, birth date, gender, occupation, company you work for and other information
            needed to provide a service you have requested.
        </p>
        <p>
            Parisian Glow does log your IP address (the Internet address of your computer) to give us an idea of which part of our website you visit and how long
            you spend there. However, we do not link your IP address to any personal information unless you have registered and logged in to our website.
        </p>
        <p>
            No personal information will be shared with any third parties without the customer's permission.
        </p>
        <p>
            <strong>Use of the information</strong>
        </p>
        <p>
            When we collect personal information from you such information will only be used for business purposes, such as, to respond to requests for
            products, documentation, and services, to process an order, to conduct a transaction, to correspond, to enable a subscription or event registration
            or send direct marketing information and perform market research. We will also use your information to personalize the content you view and to
            better understand how you use the website in order to improve the services this website provides.
        </p>
        <p>
            In general, Parisian Glow assumes that you have given permission to collect and use your personal information in accordance with your acceptance of the
            Terms of Use, of which this Privacy Statement is a part. You have the right to request that Parisian Glow not contact you for the purposes of sending
            you newsletters, customer surveys, direct marketing, or market research information.
        </p>
        <p>
            <strong>How we protect the information we collect</strong>
        </p>
        <p>
            We implement a variety of security measures to maintain the safety of your personal information when you place an order.
        </p>
        <p>
            These security measures include: password protected directories and databases to safeguard your information, SSL (Secure Sockets Layered)
            technology to ensure that your information is fully encrypted and sent across the Internet securely or PCI Scanning to actively protect our servers
            from hackers and other vulnerabilities.
        </p>
        <p>
            We offer the use of a secure server. All supplied sensitive/credit information is transmitted via Secure Socket Layer (SSL) technology and then
            encrypted into our Payment gateway providers database only to be accessible by those authorized with special access rights to such systems, and are
            required to keep the information confidential.
        </p>
        <p>
            After a transaction, your private information (credit cards, social security numbers, financials, etc.) will not be stored on our servers.
        </p>
        <p>
            <strong>Cookies</strong>
        </p>
        <p>
            This website uses cookies. A cookie is a small data file that is placed on your hard drive when you visit certain web pages. It is used to identify
            yourself to a website when you revisit it, to load your preferences and to track the pages you have visited. The only personal information held in
            such a cookie is information you have provided to Parisian Glow. You have the choice of whether or not to accept cookies by means of your browser
            settings, although you may not be able to use certain features and functionalities of the Parisian Glow website if you do disable them.
        </p>
        <p>
            <strong>Questions and Notification of Changes </strong>
        </p>
        <p>
            If you have any questions about our policies or would like to access or modify your identifiable information, please contact: 888-436-4265
        </p>
        <ul>
            <li>
                This Privacy Statement was last updated on May 1st 2016.
            </li>
            <li>
                We reserve the right to change this Privacy Statement at any time. Modifications to this Privacy Statement can be made without prior
                notification.
            </li>
            <li>
                Continued use of the Parisian Glow website, signifies your acceptance of any changes to the Privacy Statement.
            </li>
        </ul>
        <p>
            <strong>Billing &amp; Customer Support: </strong>
            <br/>
            We welcome all support inquires by the following methods:
        </p>
        <p>
            Phone Support:
        </p>
        <p>
            <strong>Toll Free:</strong>
            888-436-4265
        </p>
        <p>
            Parisian Glow
            <br/>
            Corp Address:  
        </p>
        <p>
            Phone: 888-436-4265
            <br/>
            Monday to Friday 9AM to 9PM EST and Saturday 9AM-6PM. We are closed on Sunday.
        </p>
    </div>
</div>