<link rel="stylesheet" href="/assets/css/app.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
<link rel="stylesheet" type="text/css" href="/assets/css/cp-2-style.css">
<link rel="stylesheet" type="text/css" href="/assets/css/global.css">
<link  type='text/css' href='/assets/css/kprofile.css' rel='stylesheet' />
<link  type='text/css' href='/assets/css/kform.css' rel='stylesheet' />
<link  type='text/css' href='/assets/css/kcart.css' rel='stylesheet' />

<div class="cp-wrapper" id="wrapper">
  <div class="after" id="banner">
    <img class="logo" alt="logo" src="/assets/img/{{global.logo}}">
    <img alt="" src="/assets/img/banner.jpg">
  </div>
  <img alt="" id="steps-1" src="/assets/img/steps-2.jpg">
  <div id="approved">
    <div id="approved-content">
      <p class="bl f12"><span class="green">Congratulations {{customerName}}!</span> Today, you’re taking your first step toward
        youthful skin.</p>
      <p class="grey-2 f11">Just pay a small shipping fee. Enjoy your expidited delivery!.
      </p>
      <p class="gray f11">Current Availability: <span class="bl">LOW STOCK.</span> Sell-out Risk:<span class="red bl"> HIGH</span>
      </p>
    </div>
  </div>
  <div id="info-content">
    <div ng-controller="ListCtrl" id="form-info" class="ng-scope">
      <!-- ngRepeat: prodInfo in heading -->
      <div ng-repeat="prodInfo in heading" class="fr ng-scope" id="price-info">
        <div class="gray fl" id="prod-info">
          <!-- ngRepeat: info in prodInfo.productContent -->
          <div ng-repeat="info in prodInfo.productContent" class="prod-facts ng-scope">
            <p class="bl uppercase f13 ng-binding">
              {{global.name}}
            </p>
            <p class="ng-binding">
              {{global.productName}}
            </p>
            <p class="ng-binding">30g - 30 Day Supply</p>
          </div>
          <!-- end ngRepeat: info in prodInfo.productContent -->
        </div>
        <div id="prices">
          <div class="bl after">
            <p class="green fr">$ 0.00
            </p>
            <p class="fl gray">Price:</p>
          </div>

          <div class="after gray">
            <p class="fr"> $ 9.99
            </p>
            <p class="fl">Shipping &amp; Handling:</p>
          </div>
          <div class="after" style="color: #ff0000; font-weight: bold;">
            <p class="fr"> $ 5.00
            </p>
            <p class="fl">DISCOUNT</p>
          </div>
          <div class="after gray">
            <p class="fr">$
              {{global.shipping}}
            </p>
            <p class="fl">Total:</p>
          </div>
        </div>
      </div>
      <!-- end ngRepeat: prodInfo in heading -->
      <img id="bottle" class="fl" src="/assets/img/{{global.product1}}">
    </div>
    <div id="submission-info">
      <app-checkout-form></app-checkout-form>
      <div id="btm">
        <footer class="f11 ng-scope">
          <app-footer></app-footer>
        </footer>
      </div>

    </div>

    <div id="exitpopup-overlay" class="exitpopup-overlay">
      <div id="exit_pop" class="exitpop-content">
        <a href="javascript:void(0);"><img src="/assets/img/exit-popup-index.jpg" onClick="javascript:checkoutDownsell();" />
        </a>
      </div>
    </div>
  </div>
</div>