<form id='kform' class='kform'>
  <div id="form">
    <div id="cards">
      <img src="/assets/img/cards.jpg">
    </div>
    <div id="shipping">
      <div class='kform_spacer kform_checkbox'>
        <div class="question">
          Billing address is the same as shipping
          <br />
          <input type="radio" name="billShipSame" id="sameYes" [value]="1" [(ngModel)]="customer.billShipSame" checked> Yes
          <input type="radio" name="billShipSame" id="sameNo" [value]="0" [(ngModel)]="customer.billShipSame"> No
        </div>
      </div>
    </div>
    <div class="billing hidden" id='kform_hiddenAddress' *ngIf="!customer.billShipSame">
      <div class='kform_spacer'>
        <label>Address Line 1:</label>
        <input name='address1' type='TEXT' isRequired>
      </div>
      <div class='kform_spacer'>
        <label>Address Line 2:</label>
        <input name='address2' type='TEXT'>
      </div>
      <div class='kform_spacer'>
        <label>City:</label>
        <input name='city' type='TEXT' isRequired>
      </div>
      <div class='kform_spacer'>
        <label>State:</label>
        <select name='state' isRequired>
          <option value='' selected>Select State</option>
          <option *ngFor="let abbr of statesAbbr" [value]="abbr">{{states[abbr]}}</option>
        </select>
      </div>
      <div class='kform_spacer'>
        <label>Country:</label>
        <select name='country' defaultText='country'>
          <option value="US">United States</option>
        </select>
      </div>
      <div class='kform_spacer'>
        <label>Postal Code:</label>
        <input name='postalCode' type='TEL' isRequired oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');">
      </div>
    </div>
    <input type="hidden" name='paySource' value="CREDITCARD">
    <div style='display:none'>
      <div id='kformPaySourceWrap' inputType='radio'></div>
      <div class='kform_spacer' id='kformNewPaymentType'>
        <input type='checkbox' name='newPaymentType'>
        <span>New Credit Card</span>
      </div>
    </div>
    <div>
      <label>Credit Card Number:</label>
      <input type="tel" isRequired name="cardNumber" maxlength="16" style="height: 31px;" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');">
    </div>
    <div>
      <label>Expiry Date:</label>
      <select name='cardMonth' style='width: 100%;height: 31px;margin-bottom:2px;' isRequired>
        <option value='01'>01 (Jan)</option>
        <option value='02'>02 (Feb)</option>
        <option value='03'>03 (Mar)</option>
        <option value='04'>04 (Apr)</option>
        <option value='05'>05 (May)</option>
        <option value='06'>06 (Jun)</option>
        <option value='07'>07 (Jul)</option>
        <option value='08'>08 (Aug)</option>
        <option value='09'>09 (Sep)</option>
        <option value='10'>10 (Oct)</option>
        <option value='11'>11 (Nov)</option>
        <option value='12'>12 (Dec)</option>
      </select>
      <select name='cardYear' style='width: 100%;height: 31px;margin-bottom:7px;' isRequired>
        <option value='2017'>2017</option>
        <option value='2018'>2018</option>
        <option value='2019'>2019</option>
        <option value='2020'>2020</option>
        <option value='2021'>2021</option>
        <option value='2022'>2022</option>
        <option value='2023'>2023</option>
        <option value='2024'>2024</option>
        <option value='2025'>2025</option>
        <option value='2026'>2026</option>
        <option value='2027'>2027</option>
      </select>
    </div>
    <div>
      <div class="w50 fl">
        <label>CVV:</label>
        <input type="tel" name="cardSecurityCode" maxlength=4 oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');">
      </div>
      <div class="w50 fr">
        <img id="cvv-img" alt="" src="/assets/img/cvv-img.jpg">
      </div>
      <div class="clear"></div>
      <div class="kform_spacer kform_checkbox" *ngIf="customer.addId">
        <input name="confirmTOS" type="CHECKBOX" isRequired checked> I agree to the <a href="javascript:void(0);" onClick="javascript:openNewWindow('/assets/html/terms.html', 'modal');">Terms &amp; Conditions</a>
      </div>
      <div class="kform_spacer kform_checkbox" style="display:block;font-size: 14px;margin: 0 0 0 20px;" id="show">
        <input name="confirmTOS" type="CHECKBOX" isRequired> I agree to the <a href="javascript:void(0);" onClick="javascript:openNewWindow('/assets/html/terms.html', 'modal');">Terms &amp; Conditions</a>
      </div>
      <div class="clear"></div>
    </div>
    <input type='hidden' name='orderItems' value=''>
  </div>
  <app-pay-button></app-pay-button>
</form>