.form-error {
  top: -4px;
  position: absolute;
  left: -185px;
  z-index: 10000;
  box-shadow: 5px 5px 5px #888;
}

.form-error .error-pop {
  width: 200px;
  padding: 5px 10px 5px 10px;
  border: medium solid #cc0000;
  color: #cc0000;
  background: white;
  font-size: 14px;
  font-family: Arial;
  font-weight: bold;
}

.form-error .error-pop span {
  font-weight: bold;
}

.kform .error-outline {
  border: 1px solid #cc0000;
}
