<link rel="stylesheet" href="/assets/css/app.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
<link rel="stylesheet" type="text/css" href="/assets/css/ty-style.css">
<link rel="stylesheet" type="text/css" href="/assets/css/global.css">
<link rel="stylesheet" type="text/css" href="/assets/css/thankyou.css">
<link href="/assets/css/app2.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/assets/css/popup.css" type="text/css" media="screen">
<link  type='text/css' href='/assets/css/kprofile.css' rel='stylesheet' />
<link  type='text/css' href='/assets/css/kform.css' rel='stylesheet' />
<link  type='text/css' href='/assets/css/kcart.css' rel='stylesheet' />


<div class="cp-wrapper" id="wrapper">
  <div class="after" id="banner">
    <img class="logo" alt="logo" src="/assets/img/{{global.logo}}">
    <img alt="" src="/assets/img/banner.jpg">
  </div>
  <img id="steps-img" class="" alt="" src="/assets/img/steps.jpg">

  <div id="info-content">
    <div id="rcontent" class="shade">
      <div class="center">
        <h3 id="thankH3">
          Thank you <span>{{customer.name}}!<br></span> ORDER#:
          {{customer.orderId}}
        </h3>
      </div>
      <div id="receiptT">
        <div class="kthanks_box">
          <div class="kthanks_boxTitle">
            Items Ordered
          </div>
          <div class="kthanks_boxContent">
              <table class='kthanksItemsTable'>
                <tr class='kthanksItemsTable_TitleRow'>
                  <td>Product</td>
                  <td>Price</td>
                  <td>Qty.</td>
                  <td>Amount</td>
                </tr>
                <tr class='kthanks_row'> <!--ngRepeat -->
                  <td>Blah</td>
                  <td>92$</td>
                  <td>3</td>
                  <td>300$</td>
                </tr>
              </table>
            <hr />
            <div>
              <div class="kthanks_spacer">
                <div class="kthanks_label">
                  SubTotal:
                </div>
                {{currency.subTotal}}
              </div>
              <div class="kthanks_spacer">
                <div class="kthanks_label">
                  S &amp; H:
                </div>
                {{currency.shipTotal}}
              </div>

              <div class="kthanks_spacer" *ngIf="currency.taxTotal > 0">
                <div class="kthanks_label">
                  Tax:
                </div>
                {{currency.taxTotal}}
              </div>
      
              <div class="kthanks_spacer" *ngIf="currency.insuranceTotal > 0">
                <div class="kthanks_label">
                  Insurance:
                </div>
                {{currency.insuranceTotal}}
              </div>

              <div class="kthanks_spacer" style="color:green"  *ngIf="currency.discountTotal > 0">
                <div class="kthanks_label">
                  Discount:
                </div>
                {{currency.discountTotal}}
              </div>

              <div class="kthanks_spacer" style="border-top:1px solid #CCC">
                <div class="kthanks_label">
                  Grand Total:
                </div>
                {{currency.orderTotal}}
              </div>
            </div>
            <div style="clear:both"></div>
          </div>
        </div>


        <div>

          <div class="kthanks_box">
            <div class="kthanks_boxTitle">
              Billing Information
            </div>
            <div class="kthanks_boxContent">
              {{customer.billingAddress}}<br />
              {{customer.emailAddress}}<br />
              {{customer.phoneNumber}}<br />
            </div>
          </div>

          <div class="kthanks_box">
            <div class="kthanks_boxTitle">
              Shipping Information
            </div>

            <div class="kthanks_boxContent">
              {{customer.shippingAddress}}
            </div>

          </div>
        </div>
        <div style="clear:both"></div>

        <div class="center">
          <p>*A confirmation email has been sent to
            {{customer.emailAddress}} </p>
          </div>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      $('.top-header .fill').css('width', '100%');
      $('.steps.step-2.active').css('color', '#525357');
      $('.circle-wrap.middle .circle.active').css('background-color', '#ff3261');
      $('.steps.step-3.active').css('color', '#525357');
      $('.circle-wrap.right .circle.active').css('background-color', '#ff3261');
    });
  </script>
  <p>&nbsp;</p>
</div>
<div class="cl" id="btm">
  <footer class="f11 ng-scope">
    <app-footer></app-footer>
  </footer>
</div>

<div class="bg_overlay">
</div>
<div class="overlay_info" id="dv_info">
  <div class="closediv">
    <a title="Close" href="javascript: close('dv_info');">close</a></div>
  <div class="divbody">
    <div id="popupcopy">
    </div>
  </div>
</div>